@charset "UTF-8";
/* import fonts */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
/* Fonts */
/* Color */
/* Général */
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-weight: 500;
}

h2,
h3,
p {
  margin: 0;
}

ol {
  padding: 0 1rem;
}

li {
  list-style-type: none;
}

/* loader */
@keyframes loader {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  90% {
    opacity: 1;
    transform: scale(1);
  }
  94% {
    opacity: 0.8;
    transform: scale(1);
  }
  95% {
    opacity: 0.6;
    transform: scale(1);
  }
  96% {
    opacity: 0.5;
    transform: scale(1);
  }
  98% {
    opacity: 0.4;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
@keyframes turn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* button */
@keyframes button {
  0% {
    background: -webkit-linear-gradient(#9356DC, #ff79da);
    filter: brightness(0.9);
  }
  100% {
    background: -webkit-linear-gradient(30deg, #ff79da, #9356DC 80%);
  }
}
/* loader */
.spinner {
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  overflow-y: hidden;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.9;
  z-index: 90;
  transform-origin: top;
  animation: loader 1400ms ease-in-out 1s forwards;
}
.spinner__contain {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  background-color: #f6f6f6;
  margin: auto;
}
.spinner__contain__circle {
  position: absolute;
  margin: auto;
  width: 255px;
  height: 255px;
  border-bottom: 5px solid #9356DC;
  border-top: 5px solid #ff79da;
  border-radius: 50%;
  z-index: 1;
  animation: turn 1s linear 0ms infinite;
}
.spinner__contain .text {
  color: #000000;
  text-shadow: 3px 3px #9356DC, 3px 0px 3px #ff79da, 3px 4px 6px #99E2D0;
  font-size: 35px;
  font-family: "Shrikhand", arial, sans-serif;
  font-weight: 900;
  z-index: 3;
  text-align: center;
}

/* header */
.header {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.35);
  padding: 2rem 0rem 1rem 0rem;
  position: relative;
}
.header__title {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.header__img {
  width: 220px;
}

/* box-shadow */
/* button */
/* Location */
.location {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 0.7rem;
  background-color: #eaeaea;
  text-align: center;
  padding: 0.5rem;
}
.location i {
  font-size: 1.5rem;
}

.presentation {
  text-align: center;
  background-color: #f6f6f6;
  padding-bottom: 3rem;
}
.presentation__title {
  font-size: 2rem;
  margin: 0;
  padding-top: 2.5rem;
}
.presentation__text {
  font-size: 1.2rem;
  color: #353535;
  padding-bottom: 1rem;
}
.presentation .header__button {
  cursor: pointer;
  border-radius: 2rem;
  border: none;
  font-weight: 300;
  background: -webkit-linear-gradient(#9356DC, #ff79da);
  box-shadow: 10px 10px 20px #bcbcbc;
}
.presentation .header__button:hover {
  box-shadow: 10px 10px 20px #565656;
}
.presentation .header__button p {
  color: #ffffff;
  font-size: 1.2rem;
  padding: 1rem 1.5rem;
}
.presentation .header__button:hover {
  animation: button 1s ease forwards;
}

/* Fonctionnement */
.fonctionnement {
  counter-reset: numerotation;
  margin-bottom: 5rem;
  padding: 0 1.25rem;
}
.fonctionnement h2 {
  padding: 3.5rem 0 2rem 0;
}
.fonctionnement ol {
  display: flex;
  gap: 2rem;
}
@media (max-width: 768px) {
  .fonctionnement ol {
    flex-direction: column;
  }
}
.fonctionnement li {
  font-weight: bold;
  font-size: 17px;
  position: relative;
  background-color: #f6f6f6;
  padding: 1.8rem 2rem;
  border-radius: 1.5rem;
  flex-grow: 1;
  box-shadow: 10px 10px 20px #bcbcbc;
}
.fonctionnement li:hover {
  box-shadow: 10px 10px 20px #565656;
}
.fonctionnement li::before {
  content: "" counter(numerotation);
  counter-increment: numerotation;
  color: #ffffff;
  background-color: #9356DC;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  position: absolute;
  bottom: 50%;
  left: -0.8rem;
  transform: translateY(50%);
}
.fonctionnement li:hover {
  cursor: pointer;
  background-color: #e4d5f6;
}
.fonctionnement li:hover i.fas {
  color: #9356DC;
}
.fonctionnement li i.fas {
  margin-right: 1rem;
  font-size: 1.2rem;
  color: #7e7e7e;
}

/* Restaurants */
.restaurants {
  background-color: #f6f6f6;
  margin-bottom: 4rem;
  padding: 0 1.2rem;
}
.restaurants h2 {
  padding: 3.8rem 0 1.6rem 0;
}
.restaurants__conteneur {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media (max-width: 768px) {
  .restaurants__conteneur {
    grid-template-columns: repeat(1, 1fr);
  }
}
.restaurants__conteneur__cards {
  box-shadow: 10px 10px 20px #bcbcbc;
  border-radius: 1rem;
  position: relative;
}
.restaurants__conteneur__cards:hover {
  box-shadow: 10px 10px 20px #565656;
}
.restaurants__conteneur__cards:hover {
  transform: scale(1.02);
}
.restaurants__conteneur__cards__flag::before {
  position: absolute;
  content: "Nouveau";
  height: 2rem;
  width: 5rem;
  background-color: #99E2D0;
  color: #2c9c81;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 1rem;
  top: 1rem;
}
.restaurants__conteneur__cards__image {
  height: 15rem;
  background-size: cover;
  border-radius: 1rem 1rem 0 0;
}
.restaurants__conteneur__cards__image-1 {
  background-image: url("../../assets/restaurants/card-1.jpg");
}
.restaurants__conteneur__cards__image-2 {
  background-image: url("../../assets/restaurants/card-2.jpg");
}
.restaurants__conteneur__cards__image-3 {
  background-image: url("../../assets/restaurants/card-3.jpg");
}
.restaurants__conteneur__cards__image-4 {
  background-image: url("../../assets/restaurants/card-4.jpg");
}
.restaurants__conteneur__cards__description {
  position: relative;
}
.restaurants__conteneur__cards__description h3 {
  padding: 0.5rem 1rem;
}
.restaurants__conteneur__cards__description p {
  padding: 0 1rem 1rem;
}
.restaurants__conteneur__cards__description-anim {
  position: relative;
}
.restaurants__conteneur__cards__description-anim:hover > .fas {
  background: -webkit-linear-gradient(bottom, #9356DC 30%, #ff79da 70%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 1;
  transform: scale(1.2);
}
.restaurants__conteneur__cards__description-anim .far {
  position: absolute;
  width: 30px;
  right: 10px;
  bottom: 10px;
  font-size: 30px;
  opacity: 1;
  transition: 300ms;
}
.restaurants__conteneur__cards__description-anim .far:hover {
  opacity: 0;
  color: transparent;
  transform: scale(0.5);
}
.restaurants__conteneur__cards__description-anim .fas {
  position: absolute;
  width: 30px;
  right: 10px;
  bottom: 10px;
  font-size: 30px;
  opacity: 1;
  transition: 300ms;
  opacity: 0;
  transition: transform ease 500ms;
  transform: scale(0.1);
}

/* Footer */
footer {
  background-color: #353535;
  color: #ffffff;
  padding: 1rem 2rem;
}
footer h2 {
  font-family: "Shrikhand", arial, sans-serif;
  font-weight: 500;
  padding: 1rem 0;
}
footer ul {
  padding: 0.2rem 0;
}
footer ul li {
  font-family: "Roboto", arial, sans-serif;
  margin: 0 0 0.5rem;
}
footer ul li i {
  font-size: 0.8rem;
  margin-right: 0.8rem;
}
footer ul li i.fas.fa-hands-helping {
  margin-right: 0.5rem;
}

header {
  padding: 2rem 0rem 1rem 0rem;
}
header i.fas {
  position: absolute;
  font-weight: 900;
  left: 1rem;
  top: 50px;
  font-size: 1.5rem;
  transform: translateY(-50%);
}

/*# sourceMappingURL=style.css.map */
