@use "../utils/variables";

/* import fonts */

@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");

/* Général */

*,
::before,
::after {
  box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: variables.$font-primary;
   
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-weight: 500;
}

h2,
h3,
p {
    margin: 0;
}

ol {
  padding: 0 1rem;
}

li {
  list-style-type: none;
}