@use "../utils/variables";


/* box-shadow */
@mixin box-shadow {
    box-shadow: 10px 10px 20px darken(#efefef, 20%);
    &:hover {
        box-shadow: 10px 10px 20px darken(#efefef, 60%);
    }
}

/* button */

@mixin button {
    cursor: pointer;
    border-radius: 2rem;
    border: none;
    font-weight: 300;
    background: -webkit-linear-gradient(variables.$primary, variables.$secondary) ;    
    @include box-shadow;    
    p {        
        color: variables.$white;
        font-size: 1.2rem;
        padding: 1rem 1.5rem; 
    }
    &:hover {
        animation: button 1s ease forwards;
    }
}

@mixin fonctionnement {
    cursor: pointer;
    background-color: lighten($color: variables.$primary, $amount: 30%);
    i.fas
    {
        color: variables.$primary;
    }
    
}

@mixin images {
    @for $i from 1 to 5 {
        &__image-#{$i} {
            background-image: url("../../assets/restaurants/card-#{$i}.jpg");
        }
        
    }
    
}

@mixin restaurants {
    @include box-shadow;
    &:hover {
        transform: scale(1.02);
    }
}

@mixin heart {
    &::before {
        position: absolute;
        display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font-family: "Font Awesome 5 Free"; 
        content: "\f004";
        font-size: 2rem;
        right: 1rem;
        top: 50%;
        font-weight: 400;
        transform: translateY(-50%);
        color: inherit;
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 1;
        transition: all 200ms ease-in-out;                
        }

    &::after {
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "Font Awesome 5 Free"; 
        font-weight: 400; 
        content: "\f004";
        position: absolute;
        font-size: 2rem;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;
        transition: all 200ms ease-in-out; 
        background-image: linear-gradient(to top, rgba(147,86,220), rgba(255, 121, 218));
        font-weight: 900;               
        }
        &:hover::after {
            opacity: 1;
            transform: translateY(-50%) scale(1.1);
        }

    }

    @mixin heart-definition {
        position: absolute;
        width: 30px;
        right: 10px;
        bottom: 10px;
        font-size: 30px;
        opacity: 1;
        transition: 300ms;        
    }

    @mixin heart {
        position: relative;
        &:hover > .fas {
            background:-webkit-linear-gradient(bottom, variables.$primary 30%, variables.$secondary 70%);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            opacity: 1;
            transform: scale(1.2);
        }
        .far {
            @include heart-definition;
            
            &:hover {
                opacity: 0;
                color: transparent;
                transform: scale(0.5);
            }
        }
        .fas {
            @include heart-definition;
           
       
        opacity: 0;
        transition: transform ease 500ms;
        transform: scale(0.1);
        }
        
    }

    @mixin title-restaurants {
        position: relative;
        padding: 2rem 1rem;
        font-size: 2rem;
        font-weight: 300;
        font-family: variables.$font-title;
       
        
        
    }