/* Fonts */

$font-primary: 'Roboto', arial, sans-serif;
$font-title: 'Shrikhand', arial, sans-serif;

/* Color */
$primary: #9356DC;
$secondary: #ff79da;
$tertiary: #99E2D0;
$black: #000000;
$medium-black: #353535;
$grey: #f6f6f6;
$dark-grey: #eaeaea;
$withe: #ffffff;

